@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EFFFFD;
}

.icon-link {
  transition: transform 0.2s ease-in-out;
}

.icon-link:hover {
  transform: rotate(-15deg);
}
