@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f1e2c;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

.me_social_media_icons {
  @apply text-slate-400 hover:text-slate-200 duration-200;
}

.about_bold_importance {
  @apply text-slate-200 hover:text-blue-300 duration-300 font-semibold;
}

.app_module_format {
  @apply mx-6 pb-24;
}

.header {
  @apply text-slate-200 font-semibold text-sm mb-10 uppercase;
}
